<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>360959983883-m44nkcrnrr6ot4cj72lg2fupknrelo00.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.360959983883-m44nkcrnrr6ot4cj72lg2fupknrelo00</string>
	<key>API_KEY</key>
	<string>AIzaSyCCn3idVDDdVMhej2pFM6gSIdFxnVfTRzA</string>
	<key>GCM_SENDER_ID</key>
	<string>360959983883</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.antonkrasov.fchat</string>
	<key>PROJECT_ID</key>
	<string>fchat-3049a</string>
	<key>STORAGE_BUCKET</key>
	<string>fchat-3049a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:360959983883:ios:2774c4cd13c17b5898620e</string>
	<key>DATABASE_URL</key>
	<string>https://fchat-3049a.firebaseio.com</string>
</dict>
</plist>